*.exe
*.dll
.vscode/*
**/nimcache/**
cache/**
outputGotten.txt
*~
testresults
megatest.nim
tests/basic/test_block
tests/basic/test_dirtyStuff
tests/basic/test_escape
tests/basic/test_for
tests/basic/test_if
tests/basic/test_if_complex
tests/basic/test_insert
tests/basic/test_simple
tests/basic/test_while
src/nimja/parser
src/nimja/sharedhelper
tests/basic/NOT_READY_test_raw
tests/basic/test_endless_iterator
tests/basic/test_file_foo_html
tests/basic/test_iterator
tests/basic/test_lexer
tests/basic/test_module_import
tests/basic/test_nimjautils
tests/basic/test_proc
tests/basic/test_proc_import
tests/basic/test_scope
tests/basic/test_self
tests/basic/test_shorhands
tests/basic/test_strparse
tests/basic/test_tmplf_with_context
tests/basic/test_tmpls_with_context
tests/basic/test_tokens_before_extend
tests/basic/test_triple
tests/basic/test_unicode
tests/basic/test_when
tests/basic/test_whitespacecontrol
tests/basic/test_blockInBlock
tests/basic/test_blockNotExtendedMaster
tests/basic/test_blockRenderMasterDirectly
tests/basic/test_case
tests/basic/test_condense_strings
tests/basic/test_double_extend
tests/basic/test_doublicated_blocks
tests/basic/theModule/theModule
tests/bugs/test_nwt_bug4_debug
examples/prologue/serverPrologue
examples/prologue/serverJester
examples/dynlib/libtemplates.so
examples/dynlib/runner
examples/hcr/hcrex
examples/hcr/libtmpls.so
examples/hcr/tmpls
src/nimja/hcrutils
examples/fromReadme/server
tests/basic/test_variable_escape
tests/basic/test_fragments
tests/basic/test_procmodule
